@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Custom styles if needed */
body {
  margin: 0;
  @apply bg-white text-gray-800 font-sans;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
}


a {
  @apply transition-colors duration-200;
}

.hero-section {
  background: #cf326f;
}
